*{
    margin: 0;
    padding: 0;

}
body{
    font-family: montserrat,Sans-serif;
}
header {
    width: 100%;
    height: 90vh;
    background-color: rgb(94, 94, 94);
    height: 90vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}
.top-header{
    width: 100%;
    height: 3vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    background-color: black;
    transition: all 0.8s ease-in-out;
    z-index: 99;
}

.top{
    width: 33.33%!important;
    height: 100%;
    padding: 2px;
    
}
.text-topheader{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.social{
    margin: 0 5px;
    color: #fff;
    margin-left: 30px;
    
}

.header-scroll{
    height: 10vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid rgb(169, 169, 169);
    position: fixed;
    transition: all 0.8s ease-in-out;
    top: 0;
    z-index: 99;
}


.hdr {  
    height: 13vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid rgb(169, 169, 169);
    position: fixed;
    top: 3vh;
    transition: all 0.8s ease-in-out;
    z-index: 99;
}


.input-pesquisa{
    border-radius: 8px;
    padding: 8px 8px;
    width: 100%;
    border: 0;
}
.pesquisa{
    width: 35%!important;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
}
.pesquisa .material-icons{
    display: inline-block;
    position: absolute;
    z-index: 999;
    color: black;
    right: -15px;
    
}
.hdr nav a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}
.hdr nav a:hover{
    text-decoration: underline;
    color: gray;
}

.nav-list   {
    width: 100%;
    height: 5vh;
    top:16vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 99;
    padding: 3px 0;
    background-color: black;
    border-top: 2px solid #888686 ;
    transition: all 0.8s ease-in-out; 
    font-size: 18px;
    position: fixed;
    padding: 3px 0;
    background-color: black;
    border-top: 2px solid #888686 ;
}
.nav-list a{
    text-decoration: none;
    color: #fff;
}



.logoamf{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 32.5%!important; 
    
}
.logo-header{
    height: 70px;
    margin-left: 30px;
    margin-right: 20px; 
    transition: all 0.8 ease-in-out;  
}

.logoamf h1{
    margin-left: 30px;

}
.carrinho{
    width: 32.5%!important;
    display: flex;
    flex-direction: row-reverse;
    

}
.carrinho img{
    width: 30px;
    height: 30px;
    margin-right: 30px;
    cursor: pointer;
}
.carrinho a{
    text-decoration: none;
    color: white;
    font-size: 24px;

}

.carrinho a:hover{
    text-decoration: underline;
    color: gray;
}

.aba-carrinho-aberta{
    top: 0;
    position: fixed;
    height: 100vh;
    width: 40vw;
    background-color: #fff;
    border-radius: 6px 0 0 6px ;
    overflow: hidden;
    z-index: 3;
    z-index: 1000;
    transform: translateX(100%);
    -webkit-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
 
}
.titulo-carrinho{
    width: 100%;
    height: 8vh;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    font-size: 24px;
    background-color: rgb(0, 0, 0);

}
.material-icons{
    margin-right:25px;
    cursor: pointer;
}

.imghdr {
    background: rgb(0, 0, 0) url(img/banner.jpg) center center/cover no-repeat;

}

/* Principal */

main {
    height: 80vh;   
}

.contmain{
    width: 100%;
    height: 70vh;
    margin-top: 2vh;
    display:flex;
    flex-direction: column;
    
   
}
.titulo-container-categoria{
    font-size: 30px;
    text-align: center;
    margin: 3vh;
   
}
.container-categoria{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.categoria{
    width: 30%;
    height: 100%;
    background-color: blue;
    background-position: center ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: all 8.0s ease-in-out;
    transition: opacity .2s;
    cursor: pointer;
}
.categoria:hover{
    background-size: 110% 110%;
    
}
.overlay-categoria{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.419);
    display: flex;
    flex-direction: column-reverse;
    transition: all 0.8s ease-in-out;
}
.overlay-categoria:hover{
    background-color: rgba(0, 0, 0, 0);
}
.titulo-categoria{
    width: 94%;
    height: 20%;
    background-color: rgba(185, 185, 185, 0.486);
    padding: 3% 3%;
    font-family: montserrat,Sans-serif;
    font-style: normal;
}
.titulo-categoria p{
    display: block;
    margin-bottom: 5%;
    font-size: 20px;

}
.false-button-categoria{
    padding: 3px 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7px;
    color: rgba(0, 0, 0, 0.682);
}
.street{
    background-image: url("img/streetwear.jpg");
}
.street2{
    background-image: url("img/street2.jpg");
}
.vintage{
    background-image:url("img/vintage.jpg") ;
}
.contmain h1{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 30px;
    font-size: 1.8em;
}

.banner-informativo{
    width: 100%;
    height: 20vh;
    margin-top: 3vh;
    margin-bottom: 8vh;
    background-color: rgb(197, 197, 197);
    display: flex;
    flex-direction: row;
}
.informativo{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.aling-center-info{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-size: 13px;
}

.secao-maisVendidos{
    width: 100%;
    height: 80vh;
    margin-bottom: 3vh;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}
.titulo-secao{
    text-align: center;
    font-size: 28px;
    padding: 15px;
    margin-bottom: 2vh;
    border-top: 1px solid black;
    background-color: #888686;

}

.container-produtos{
    width: 100%;
    max-width: 90vw;
    height: 70%;
    overflow: hidden;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #bc1919;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20vh;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 272px;
    object-fit: cover;
  }
  .descricao-produto{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
  }
  .produto{
    margin-left: 10px;
  }
  .descricao-produto .nome{
    text-transform: uppercase;
    font-size: 13px;
  }
  .valor{
    font-size: bold 16px;
    font-family:sans-serif;
  }
  .descricao-produto .btn{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    letter-spacing: 0.8px;
    cursor: pointer;
    background-color: #d3d3d3;
  }

  .secao-acessorios{
    width: 100%;
    height: 80vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    position: relative;
    border-top: 1px solid black;
    justify-content: center;
    align-items: center;
}

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-button-next{
    color: #000000;
    
  }


/*Footer*/
footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    height: 40vh;
    width: 100%;
}
.contfoot{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contimg{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    height: 100%;
}
.conttxt{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    height: 100%;
}
.conttxt div{
    display: flex;
    flex-direction: column;
}
.conttxt a{
    text-decoration: none;
    color: white;
}
.conttxt a:hover{
    text-decoration: underline;
}

/* Java Script  */


