/* ESTILO GERAL */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.flex {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-around;
}

/* ESTILO DO CORPO */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  background-color: black;
  color: #610dff;
  display: flex;
  align-items: center;
}
header h2 {
  margin-left: 5%;
  font-size: 2em;
  font-weight: 600;
}
header i {
  margin-right: 5%;
  cursor: pointer;
}

/* section = pag-filmes-1 */

.titulo-pag-filmes-1 {
  text-align: center;
  color: #610dff;
  margin: 3% 0;
  font-size: 2em;
  font-weight: 600;
}

.box-filmes {
  border-radius: 10px;
  width: 23%;
  background-color: black;
  color: #fff;
}

.box-filmes img {
  width: 100%;
  border-radius: 10px 10px 0 0px;
}
.box-filmes h2 {
  margin-left: 5%;
  font-weight: 600;
}

.box-filmes p {
  margin-left: 5%;
  display: block;
}
.box-filmes button {
  display: block;
  margin: 5% auto;
  width: 90%;
  height: 40px;

  background-color: #610dff;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 1.3em;
  font-weight: 600;
  cursor: pointer;
  transition: .5s;
}

.box-filmes button:hover {
    background-color: #610dff99;
}

.fa-star {
    color: #610dff;
}