/* ESTILO GERAL */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.flex {
  width: 90%;
  margin: 0 auto 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-around;
}

/* ESTILO DO CORPO */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  background-color: black;
  color: #610dff;
  display: flex;
  align-items: center;
}
header h2 {
  margin-left: 5%;
  font-size: 2em;
  font-weight: 600;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-right: 5%;
}

.search-form input {
  width: 250px;
  padding: .5em 1em;
  border: none;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
  transition: .5s;
}

.search-form input::placeholder {
  color: #bbb;
  font-size: 1.1em;
}

.search-form button {
  background-color: transparent;
  border: none;
  color: #610dff;
  cursor: pointer;
  transition: .5s;
}

.search-form button:hover {
  color: #fff;
}

/* section = pag-filmes-1 */

.titulo-pag-filmes-1 {
  text-align: center;
  color: #610dff;
  margin: 3% 0;
  font-size: 2em;
  font-weight: 600;
}

.box-filmes {
  border-radius: 10px;
  width: 23%;
  background-color: black;
  color: #fff;
}

.box-filmes img {
  width: 100%;
  border-radius: 10px 10px 0 0px;
}
.box-filmes h2 {
  margin-left: 5%;
  font-weight: 600;
}

.box-filmes p {
  margin-left: 5%;
  display: block;
}
.box-filmes button {
  display: block;
  margin: 5% auto;
  width: 90%;
  height: 40px;

  background-color: #610dff;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 1.3em;
  font-weight: 600;
  cursor: pointer;
  transition: .5s;
}

.box-filmes button:hover {
    background-color: #610dff99;
}

.fa-star {
    color: #610dff;
}

.hide {
  opacity: 0;
  pointer-events: none;
}